services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: goaira
    volumes:
      - pgdata:/var/lib/postgresql/dat
    ports:
      - "5432:5432"

  goAIRA:
    image: goaira:latest
    build: .
    restart: always
    env_file:
      - .env
    ports:
      - "8080:8080"  # Will be assigned 8090 as internal docker port and 8080 for localhost

  vault:
    image: hashicorp/vault:latest
    pull_policy: always
    container_name: vault
    restart: always
    ports:
      - "8300:8200"  # Vault API port
    cap_add:
      - IPC_LOCK  # Prevent memory from being swapped to disk (security best practice)
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200"
      VAULT_API_ADDR: "http://localhost:8200"
      VAULT_CLUSTER_ADDR: "http://localhost:8201"
      VAULT_LOCAL_CONFIG: |
        {
          "listener": [{
            "tcp": {
              "address": "0.0.0.0:8200",
              "tls_disable": 1
            }
          }],
          "storage": {
            "file": {
              "path": "/vault/data"
            }
          },
          "ui": true
        }
    volumes:
      - vault_data:/vault/data  # Persistent storage
    command: server  # Start Vault in server mode

volumes:
  vault_data:
    driver: local
  pgdata:
    

